<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'TimeApp', pages_home_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <% if current_page?(dashboard_index_path) %>
            <li class= "active">
          <% else %>
            <li>
          <% end %>
            <%= link_to "Dashboard", dashboard_index_path %> <!--, class: ("active" if current_page?(dashboard_index_path)) %>
            <!--a href="dashboard.html">Dashboard</a-->
          </li>
          <% if current_page?(projects_path) %>
            <li class= "active">
          <% else %>
            <li>
          <% end %>
          <!--li class: ("active" if current_page?(projects_path))%>-->
            <%= link_to "Projects", projects_path %>
            <!-- class="active" a href="projects.html">Projects</a-->
          </li>
        </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
          <!--a href="signup.html">Sign Up</a>
          <a href="login.html">Log In</a></li-->
      </ul>
    </div>
  </div>
</nav>

<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
<% end %>