<%= render 'pages/home' unless user_signed_in? %>

<%= render 'pages/nav' %>

<p id="notice"><%= notice %></p>

<div class="projects main">
  <div class="container">
    <div class="row text-right">
      <%= link_to 'New Project', projects_path, remote: true, class: "btn btn-primary"  %>
      <!--a class="btn btn-primary" data-toggle="modal" href="#project-content-modal">New Project</a-->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <table class="table projects-list">
          <thead>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th></th>
            </tr>
          </thead>
          <tbody>

            <% @projects.each do |project| %>
              <tr>
                <td><%= project.title %></td>
                <td><%= project.time %></td>
                <!--td><%= link_to 'Show', project %></td-->
                <td><%= link_to 'Edit', edit_project_path(project), class: "glyphicon glyphicon-edit" %></td>
                <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



